body{
    background-image: url("https://img.freepik.com/free-vector/gradient-starry-night-decorative-background_23-2148280978.jpg?size=626&ext=jpg&ga=GA1.1.1324984580.1690022870&semt=ais");
 
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    margin-left: 250px;
    
    background-size: 1500px;
}


.operators{
   
    margin-left: 100px;
    border-radius: -20px;
    margin-top: 140px;
    width:500px;
    
}
.button{
  

}